/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 
 body {
    color: #526066;
  }
  
  a {
    color: #3b8bba;
    text-decoration:none
  }
  
  h2,
  h3 {
    letter-spacing: 0.25em;
    font-weight: 600;
    text-align: center;
  }
  
  p {
    line-height: 1.6em;
  }
  
  footer {
    text-align: center;
  }

  /*
   * -- Layout Styles --
   */
  .l-content {
    margin: 0 auto;
  }
  
  .l-box {
    padding: 0.5em 2em;
  }

  .flex-container {
    display: flex;
  }

  .flex-row {
    display: flex;
    gap: 4px;
  }
  
  .flex-row+.flex-row {
    margin-top: 4px;
  }
  
  .flex-item {
    padding: 4px;
  }
  
  .flex-item:nth-child(1) {
    flex: 1;
  }
  
  .flex-item:nth-child(2) {
    flex: 2;
  }
  
  .flex-item:nth-child(3) {
    flex: 1;
  }

  /*
   * -- Mirador Styles --
   */
  #mirador {
    height: 420px;
    position: relative;
    width: 80%;
   }
